<div class="containerLogin">

    <nav class="menuLogin">
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
    </nav>

    <div class="box">
        <form action="">
            <div class="formGroup">
                <label for="">Usuario:</label>
                <input type="text">
            </div>
            <div class="formGroup">
                <label for="">Clave:</label>
                <input type="text">
            </div>
            <small><a href="">Olvide mi contraseña</a></small>
            <button class="btnF">Ingresar</button>
    
            <div class="redes">
    
                <p>Ingresa con:</p>
    
                <a class="facebook btn" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="google btn" href=""><i class="fab fa-google"></i></a>
            </div>
    
        </form>
    </div>

</div>