<header>
    <div class="header container">
        <div class="left">
            <div class="logo">
                <img src="../../../../assets/logo.png" alt="">
            </div>
            <div class="menu">
                <nav>
                    <a routerLink="home">Home</a>
                    <a routerLink="conocenos">Conocenos</a>
                </nav>
            </div>
        </div>
        <div class="right">
            <nav class="login">
                <a routerLink="login">Login</a>
            </nav>
            <nav class="register">
                <a routerLink="register">Register</a>
            </nav>
        </div>
    </div>
</header>
